{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-jsdoc"],
  "jsdocPrintWidth": 80,
  "jsdocSingleLineComment": false,
  "jsdocSeparateReturnsFromParam": true,
  "jsdocCapitalizeDescription": true,
  "jsdocDescriptionWithDot": true,
  "jsdocPreferCodeFences": true
}
